<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button>Button 1</ion-button>
    <div class="ion-padding"></div>
    <ion-button disabled>Disabled Button</ion-button>
    <div class="ion-padding"></div>
    <ion-button class="custom-clear" disabled fill="clear">Clear Button</ion-button>
  </div>
</ion-content>
